@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(233, 233, 245);
    font-family: 'Oxanium', sans-serif;
}

body {
    
    color: #fff;
    width: 100%;

    
}

.main-container {
    background: url(./cyber.png);
    background-size: contain;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;


}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.logo img {
    width: 30px;

}
.logo h1{
    font-size: 1.2rem;
    margin-left: 10px;
    text-transform: uppercase;

}

nav .mainmenu{
    display: flex;
    list-style: none;
}


.mainmenu li {
    display: inline-block;
    margin: 0 0.6rem;
}

.mainmenu li a{
    text-decoration: none;
    color: #fff;

}

.mainmenu .main-menu{
    display: flex;
    cursor: none;
}

.main-menu {
    cursor: pointer;
}

.openmenu {
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
    display: none;
}

.main-menu .closemenu{
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
    display: none;
}

.menu-side .menu-btn {
    background-color: rgb(69, 69, 247);
    padding: 8px 12px;
    border-radius: 12px;
}

.menu-side .line {
border-left: 1px solid grey;
}

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.showcase img {
    /* transform: translateX(150%); */
    animation: showcase-img-animation 2s ease-in forwards;
}

@keyframes showcase-img-animation{
    0% {
        transform: scale(0)
    }
    /* 50% {
        transform: scale(0.5);
    } */
    100% {
        transform: scale(1)
    }
}


.showcase span{
    display: inline-block;
    background-color: rgb(88, 85, 85);
    border-radius: 15px;
   padding: 6px 30px;
   font-size: 10px;
}

.showcase .save {
    background-color: white;
    font-size: 12px;
    border-radius: 12px;
    padding:2px 6px;
    border-color: white;
    margin-right: 18px;
    margin-left: -10px;
    color: grey;
    animation: showcase-img-animation 2s ease-in forwards;
}

.showcase h2{
    font-size: 50px;
    margin-top: 25px;
    animation: showcase-img-animation 2s ease-in forwards;
}

.description{
   font-size: 10px;
   margin-bottom: 20px;
}
.showcase .btn-primary{
    background-color: rgb(69, 69, 247);
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 18px;
    animation: showcase-img-animation 2s ease-in forwards;
}

.data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: showcase-img-animation 2s ease-in forwards;
    height: 40vh;
   
}
.data1, .data2, .data3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-img {
    background-color: #585151;
    border: 2px solid #585151;
    padding: 20px;
    border-radius: 50%;
}

.data-info {
    margin-left: 12px;
}
.data-info h4 {
    font-size: 0.6rem;
    text-transform: capitalize;
    font-weight: 200;
    color: #807878;
    animation: showcase-img-animation 2s ease-in forwards;
}

.why-chappo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: auto 32px;
}

.why-info {
    margin-left: 2.5rem;
}

.why-image img {
   width: 100% ;
   animation: showcase-img-animation 2s ease-in forwards;
}

@keyframes why-chappo {
    0% {
        transform: translateY(-150%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}
.why-info h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 1rem;
    
    
}

.why-info p {
    color:#807878;
    margin: 15px 0;
}

.btn-primary{
    background-color: rgb(69, 69, 247);
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 18px;
    animation: showcase-img-animation 2s ease-in-out backwards;
    text-decoration: none;

}
.earn {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.earn-top {
    text-align: center;
    margin: 25px;
    line-height: 50px;
}

.earn-top h1 {
    font-size: 1.5 rem;
    text-transform: capitalize;
}

.details {
    color:#5e6474;
    font-size: 12px;
}
.earn-details {
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    border-radius:10px ;
    padding: 32px;
    background-color: #fff;
    margin: auto 10rem ;
    animation: showcase-img-animation 2s ease-in-out backwards;
}

.earn-details-1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;   
}

#earnings, #hashrate, #message {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid grey;
  width: 300px
}
.revenue{
    line-height: 64px;
}
.revenue h2 {
    color:blue;
    font-weight: 200;
    font-size: 1rem;

}
.revenue span {
    color: blue;
    font-weight: 700;
}

.revenue h1{
    font-size: 2rem;
    color: black;
    font-weight: 700;
}
.revenue p {
    color: #807878;
}


.trade {
    display: block;
    margin-top: 200px;
    margin-bottom: 48px;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
  text-align: center;
  animation: showcase-img-animation 2s ease-in forwards;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 72px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 12px;
    margin: 0 16px;
    background-color: #fff;
    row-gap: 20px;
    height: 60vh;
    cursor: pointer;
    padding: 20px;

}
.menu-card:hover {
background: rgb(40, 40, 73);
transition: all 1s ease-in-out;

} 

.menu-card img {
    margin-top: 20px;
}

.card-title {
    color: black;
}

.card-icon {
    color:#807878;
    font-size: 16px;
}
.menu-card p{
    color: #807878;
    text-align: center;
}

.menu-card i {
    height: 60px;
    width: 60px;
    border: 2px solid gray;
    color: blue;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}



.bottom-container {
    background: url('./hero-bg.png');
    padding: 32px 2rem;
    margin-top: 32px;
}


.feature-header {
    width: 50%;
    text-align: center;
    margin: auto;
    font-weight: 200;
    font-size: 12px;
    animation: showcase-img-animation 2s ease-in forwards;

}
.features {
    display: flex;
    justify-content: space-between;
    padding: 5rem 2rem;
    animation: showcase-img-animation 2s ease-in 0.5s forwards;
}


.left-features {
width: 45%;
}
.left-features p {
margin: 24px 0;
}
.left-features h3 {
    font-size: 1.5rem;
}


.mining {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('./newsletter-box.png');
    margin: 1rem 4rem;
    border-radius: 12px;
    height: 200px;
    padding: 1.5rem;
    border-bottom: 2rem;
    animation: showcase-img-animation 2s ease-in forwards;
}

.mining h2{
    margin-bottom: 1rem;
}

.mining p {
    font-size: 12px;
}

.mining  button {
    padding: 5px 10px;border-radius: 16px;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;

}

footer {
    display : flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4rem auto;
    padding: 2rem auto
}


footer .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
footer .links a {
    color: #fff;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
}
.payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.payment p {
    margin-bottom: 2rem;
}

.sm-links{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
}
.sm-links i {
    padding: 20px;
}

@media (max-width: 800px){
body {
    font-family: 'Oxanium', sans-serif;
    color: #fff;
}
.main-container{
    padding: 1rem 2rem;
    margin: 0 auto;
}

    .mainmenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background: rgb(3, 3, 63);
        transition: top 1s ease;
         display: none;
    }
    .main-menu {
        display: flex;
        flex-direction: column;
    }


    .openmenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mainmenu .closemenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .showcase{
        flex-direction: column;
    }

    .showcase img {
        width: 100%;
    }

    .data-container{
        flex-direction: column;
    }

    .why-chappo{
        flex-direction: column;
    }

    .logo {
        margin-top: 20px;
    }
    .earn {
        position: relative;
        display: flex;
        
    }
    .earn-top {
        text-align: center;
        margin-top: 20rem;
        line-height: 50px;
    }
    .earn-top p{
        line-height: normal;
        color: rgb(204, 204, 235);
        font-size: 0.75rem;
    }

    .earn-details {
        position: relative;
        top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid white;
        border-radius:10px ;
      
        background-color: #fff;
        margin: auto 10px;
        animation: showcase-img-animation 2s ease-in-out backwards;
    }
    
    .earn-details-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 16px; 
        row-gap: 1rem;  
    }
    
    #earnings, #hashrate, #message {
        font-family: 'Oxanium', sans-serif;
        font-size: 1.2rem;
        border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom: 1px solid grey;
      width: 200px;
    }
    .showcase h2{
        font-size: 32px;
        margin-top: 25px;
        animation: showcase-img-animation 2s ease-in forwards;
    }

    .showcase {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;

    
    }

    
    .why-image img {
        width: 100%;
        animation: why-chappo 2s ease-out forwards;
     }
     .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 12px;
    }

    .menu-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid;
        border-radius: 12px;
        margin: 16px;
        background-color: #fff;
        row-gap: 20px;
        height: 60vh;
        cursor: pointer;
    
    }

    .menu-card i {
        margin-bottom: 48px;
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem 2rem;
    }
    .feature-header {
        font-size: 10px;
        text-align: center;
        width: 100%;
        font-weight: 200;
    }

    .features img {
        width: 100%;
        margin-top: 1rem;
    }
    .mining {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .left-features {
        width: 100%;
    }

    footer {
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    
    .footer-img {
        margin: 2rem auto;
        
    }
    footer .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        padding: 1.5rem;
    }
    footer .links a {
        color: #fff;
        list-style: none;
        text-decoration: none;
        padding: 1rem;
    }
    .payment {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .payment p {
        margin-bottom: 2rem;
    }
    
    .sm-links{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        justify-content: space-between;
        align-items: center;
    }
    .sm-links i {
        padding: 20px;
    }
}



